[Project Overview](https://www.youtube.com/watch?v=qec0mgzGpew)

In [1]:
import numpy as np
import pandas as pd

In [2]:
ds=pd.read_csv("bankmarketing_train.csv")
ds

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,57,technician,married,high.school,no,no,yes,cellular,may,mon,...,1,999,1,failure,-1.8,92.893,-46.2,1.299,5099.1,no
1,55,unknown,married,unknown,unknown,yes,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
2,33,blue-collar,married,basic.9y,no,no,no,cellular,may,fri,...,1,999,1,failure,-1.8,92.893,-46.2,1.313,5099.1,no
3,36,admin.,married,high.school,no,no,no,telephone,jun,fri,...,4,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,no
4,27,housemaid,married,high.school,no,yes,no,cellular,jul,fri,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32945,56,housemaid,married,basic.4y,no,no,yes,cellular,jul,mon,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no
32946,37,management,married,university.degree,no,no,yes,cellular,jul,fri,...,7,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
32947,26,admin.,single,university.degree,no,no,no,cellular,may,tue,...,4,999,1,failure,-1.8,92.893,-46.2,1.266,5099.1,no
32948,31,blue-collar,single,basic.9y,no,no,no,cellular,apr,mon,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
32949,39,housemaid,married,basic.4y,no,no,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no

In [3]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32950 entries, 0 to 32949
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32950 non-null  int64
 1   job             32950 non-null  object
 2   marital         32950 non-null  object
 3   education       32950 non-null  object
 4   default         32950 non-null  object
 5   housing         32950 non-null  object
 6   loan            32950 non-null  object
 7   contact         32950 non-null  object
 8   month           32950 non-null  object
 9   day_of_week     32950 non-null  object
 10  duration        32950 non-null  int64
 11  campaign        32950 non-null  int64
 12  pdays           32950 non-null  int64
 13  previous        32950 non-null  int64
 14  poutcome        32950 non-null  object
 15  emp.var.rate    32950 non-null  float64
 16  cons.price.idx  32950 non-null  float64
 17  cons.conf.idx   32950 non-null  float64
 18  euribor3m       32950 non-null  float64
 19  nr.employed     32950 non-null  float64
 20  y               32950 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 5.3+ MB